@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');
.main{
    margin:0;
    padding:20px;
    width:100%;
    overflow-x: hidden;
    height: 100vh;
    background-color: rgb(9, 5, 29);
    color: white;
}
.box{
    border: solid 2px white;
    border-radius: 20px;
    padding:10px;
    padding-top:60px;
    width:600px;
}
.name{
    color: #8D2828;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.9em;
    margin-bottom:0px;
}
.text-intro{
    margin-top:-5px;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2em;
}
.text-detail{
    font-family: 'Source Code Pro', monospace;
    font-size:0.8em;  
}
.details{
    margin-bottom:-10px;
}   
.d-icon{
    width:25px;
}
a{
    text-decoration: none;
    color:white;
}

.project-images{
    margin-top:50px;
}
.pro-img-wrapper{
    position: relative;
    height: 100%;
    min-width: 30%;
    width: 300px;
    height:170px;
    cursor: pointer;
    overflow: hidden;
    margin-left:10px;
    margin-right:10px;
    border-radius: 15px;
}
.project-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: height 0.2s, width 0.2s;
}
.project-img:hover{
    height: 120%;
    width: 120%;
}
.project-text-wrapper{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    transition: opacity 0.2s;
}
.project-img-wrapper:hover .project-text-wrapper{
    opacity: 1;
}
.project-text{
    width: 100%;
    transform: translateY(-50%);
    transition: all 0.2s;
}


.fa-heart{
    color:red;
}